<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Premium Studio - Projeto</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
    <!-- <script src='main.js'></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">
</head>
<body class="bg-dark-blue">
    <!-- Header -->
    <!-- jumbotron -->
    <div class="mb-4 bg-blue d-flex align-middle mt-5">
        <div id="project" project="{{ id_project }}" class="container-fluid py-5 d-flex justify-content-around">
            <div class="col py-5 d-flex justify-content-start">
                <a href="/projetos" style="margin-left : 3rem"><i class="fa-solid fa-circle-chevron-left fa-2x"></i></a>
            </div>
            <div class="col py-5 d-flex justify-content-center">
                <h2>Projeto</h2>
            </div>
            <div class="col py-5 d-flex justify-content-start">
                
            </div>
            
        </div>
    </div>
    <!-- lista -->
    <div class="container">
        <p>Descrição</p>
    </div>
    
    <div  class="container-md bg-light-blue d-flex justify-content-between align-content-center ml-0" >
        <p id="project_name" class="m-3">Projeto 1</p>
    </div>

    <div class="container d-flex justify-content-around m-3">
        <p id="producer">Produtor: Roberto</p>
        <p id="customer">Cliente: MasterSound</p>
        <p id="full_value">Valor: R4 12.500,00</p>
    </div>

    <div id="tasks" class="container">
        <p>Tarefas</p>
        <div class="container-md bg-light-blue d-flex justify-content-between align-content-center ml-0 p-3" >
            <div class="form-check">
                <input class="form-check-input ml-3" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label ml-3" for="flexCheckDefault">
                   Fazer diagrama de classes
                </label>
                
              </div>
              
              <button type="submit" id="bt-submit" class="btn btn-basic m-5 "><i class="fa-regular fa-trash-can"></i></button>
        </div>
    </div>
    <div class="container">    
        <div class="d-flex justify-content-start">
            <button type="submit" id="bt-submit" class="btn btn-basic m-5 " onclick="location.href='/tarefa/{{ id_project }}'"><i class="fa-solid fa-circle-plus"></i> Nova Tarefa</button>
        </div>
        <div class="form-check form-switch bg-light-blue switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Ocultar Concluídas</label>
        </div>
    </div>
</body>
<script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
    crossorigin="anonymous"></script>
<script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>
<script src="/static/js/show_project.js"></script>
</html>