<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Premium Studio - Projeto</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
    <!-- <script src='main.js'></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">
</head>
<body class="bg-dark-blue">
    <!-- Header -->
    <!-- jumbotron -->
    <div class="mb-4 bg-blue d-flex align-middle mt-5">
        <div id="project" project="{{ id_project }}" class="container-fluid py-3 d-flex justify-content-around">
            <div class="col py-3 d-flex justify-content-start">
                <a href="/projetos" style="margin-left : 3rem"><i class="fa-solid fa-circle-chevron-left fa-2x"></i></a>
            </div>
            <div class="col py-3 d-flex justify-content-center">
                <h2>{{ project.name }}</h2>
            </div>
            <div class="col py-3 d-flex justify-content-start">

            </div>

        </div>
    </div>
    
    <!-- lista -->
    <div class="container">
        <p>Descrição</p>
    </div>

    <div  class="container-md bg-light-blue d-flex justify-content-between align-content-center ml-0" >
        <p id="project_name" class="m-3">{{ project.description }}</p>
    </div>

    <div class="container d-flex justify-content-around m-3">
        <p id="producer">Produtor: {{ project.producer }}</p>
        <p id="customer">Cliente: {{ project.customer }}</p>
        <p id="full_value">Valor: R$ {{ project.full_value }}</p>
    </div>
    
    <div id="tasks" class="container">
        <p>Tarefas</p>
        {% if tasks != None %}
            {% for task in tasks %}
                <div id="{{ task.id_task }}" class="row bg-light-blue d-flex justify-content-between align-content-center ml-0 p-3" >
                    <div class="row d-flex justify-content-between align-items-center" >
                        <div class="col d-flex justify-content-start" >
                            <div class="form-check">
                                <div class="round" data-toggle="tooltip"  title="Concluir ou restaurar tarefa">
                                    <input type="checkbox" id="checkbox-{{ task.id_task }}" {{ task.checked }} class="flexCheckDefault"  />
                                    <label class="form-check-label ml-3" for="checkbox-{{ task.id_task }}" id="taskName">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-start" data-toggle="tooltip"  title="{{ task.description }}">
                            <p class="ml-5">{{ task.title }}</p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <button type="button" id="bt-delete-task" class="bt-delete-task btn btn-basic" data-toggle="tooltip"  title="Excluir tarefa"><i class="fa-regular fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center m-5">
            <div class="col d-flex justify-content-start p=0">
                <button type="submit" id="bt-new-task" class="btn btn-basic" onclick="location.href='/tarefa/{{ id_project }}'"><i class="fa-solid fa-circle-plus"></i> Nova Tarefa</button>
            </div>
            <div class="col d-flex justify-content-end p=0">
                <div class="switch form-check form-switch bg-light-blue switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchOcultarConcluidas">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Ocultar Concluídas</label>
                </div>
            </div>
        </div>
    </div>
</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>
<script src="/static/js/show_project.js"></script>
</html>
