:root { 
    --bg-color: #43627f;
    --bg-light-color: #7b99b6;
    --azul-escuro: #001021;
    --azul-medio : #00264F;
    --azul-claro : #00346B;
}
@font-face {
    font-family: Baloo;
    src: url("/static/fonts/BalooPaaji2-Regular.ttf");
}

body { 
    color: white !important; 
    font-family: Baloo;
}
a {
    color: white !important;
    text-decoration: none !important;
}
.bg-dark-blue {
    background-color: var(--azul-escuro) !important;
}

.bg-blue {
    background-color: var(--azul-medio) !important;
}

.bg-light-blue {
    background-color: var(--azul-claro) !important;
}
.btn-home {
    height: 180px !important;
    width: 180px !important;
    color: white !important;
    background-color: var(--azul-claro) !important;
}

.btn-basic {
    color: white !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    background-color: var(--azul-claro) !important;
}
.invert {
    filter :invert(1);
}


.btn-login {
    height: 45px;
}

.btn-login{
font-weight: 0;
font-size: 14px;
color: #fff !important;
background-color: #0066CC;
padding: 10px 10px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 6px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction:row-reverse;
align-items: center;
cursor: pointer;
}
