:root { 
    --bg-color: #43627f;
    --bg-light-color: #7b99b6;
    --azul-escuro: #001021;
    --azul-medio : #00264F;
    --azul-claro : #00346B;
    --azul-claro-selecionado: #064e9c;
    --azul-mais-claro : #76b7fd;
}
@font-face {
    font-family: Baloo;
    src: url("/static/css/fonts/BalooPaaji2-Regular.ttf");
}

body { 
    color: white !important; 
    font-family: Baloo !important;
}
a {
    color: white !important;
    text-decoration: none !important;
}
.bg-dark-blue {
    background-color: var(--azul-escuro) !important;
}

.bg-blue {
    background-color: var(--azul-medio) !important;
}

.bg-light-blue {
    background-color: var(--azul-claro) !important;
    transition: ease;
    transition-duration: 100ms;
}

.bg-light-blue:hover {
    background-color: var(--azul-claro-selecionado) !important;
    transition: ease;
    transition-duration: 100ms;
    scale: 102%;
}

.btn-home {
    height: 180px !important;
    width: 180px !important;
    color: white !important;
    background-color: var(--azul-claro) !important;
}

.btn-basic {
    color: white !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    background-color: var(--azul-claro) !important;
    transition: ease;
    transition-duration: 100ms;
}

.btn-basic:hover{
    background-color: var(--azul-claro-selecionado) !important;
    transition: ease;
    transition-duration: 100ms;
    scale: 110%;
}
.invert {
    filter :invert(1);
}


.btn-login {
    height: 45px;
}

.btn-login{
    font-weight: 0;
    font-size: 14px;
    color: #fff !important;
    background-color: #0066CC;
    padding: 10px 10px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 6px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    cursor: pointer;
}

.round {
    position: relative;
    display: inline-block;
    width: 28px;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
    display: inline-block
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: var(--azul-mais-claro);
    border-color: var(--azul-mais-claro);
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.switch{
    font-weight: 0;
    font-size: 16px;
    color: #fff !important;
    background-color: #0066CC;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 6px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    cursor: pointer;
    padding-left: 60px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 220px !important;
    height: 40px !important;
    align-items: center;

}

.task-incomplete {
    animation: reverse 100ms;
}

.task-complete {
    text-decoration: line-through;
    animation: forwards 100ms;
}